streamlit   # for creating web apps
numpy   # for array 
pandas   # for data frame
scikit-learn   # ML Models
dlib-bin     # for determining face landmarks
# python -m pip install dlib-20.0.99-cp313-cp313-win_amd64.whl
git+https://github.com/ageitgey/face_recognition_models
setuptools==69.5.1   # for installing dlib
supabase    # for connecting to supabase database
bcrypt    # for hashing passwords
segno   # for generating QR codes
pillow   # for image processing
librosa  # for editing, loading of voice related files
resemblyzer  # for making embeddings  but not working on my python version
speechbrain  # alternative of above